
<body class="text-center">



    <main class="form-singin m-mauto">
        <form class="form-control">
        <form class="formEdit form" id="form">
            <h1 id="h1text" class="h3 mb-3 fw-normal">
                Olá! Digite o seu telefone, e-mail ou usuário</h1>
            <span class="andes-form-control" id="emailSpan">Telefone, e-mail ou usuário</span>
            <div class="form-floating">
                <input type="email" class="form-control " id="emailIp">
            </div>

            <span class="pss" id="senhaSpan">Senha:</span>
            <div class="form-floating senha">
                <input type="password" class="form-control password" id="senhaIp">
            </div>
            
            <button 
            class="w-50 btn btn-lg btn-primary" 
            id="acc-btn" type="button"
            onclick="mudarmsg()"
            >
                Criar Conta
            </button>
            
            <a href="loggin"><p>Entrar</p></a>
        </form>
    </form>
    </main>
    

</body>