<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" id="nameIcon" routerLink="home">
        <img src="../../../assets/img/logo.png" id="nameIcon">
      </a>
      
      <a  id="cep" data-bs-toggle="modal" data-bs-target="#janelaModal">
        <i class="bi bi-geo-alt-fill"></i>
        <span id="suma">Informe seu</span> <br>
        <span id="spanCep">CEP</span>
      </a>

      <button class="navbar-toggler" type="button" 
      data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="d-flex" role="search" id="search">
        <input class="form-control rounded-0" type="search" placeholder="Buscar produtos, marcas e muito mais..." aria-label="Search">
        <button class="btn border border-white rounded-0 bg-white btns" type="submit"><i class="bi bi-search"></i></button>
      </form>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mx-5">
          <li class="nav-item">
            <a class="nav-link nl1" routerLink="singup" routerLinkActive="active-link">Crie sua conta</a>
          </li>
          <li class="nav-item nl2">
            <a class="nav-link" routerLink="loggin" routerLinkActive="active-link">Entre</a>
          </li>
          <li class="nav-item nl3">
            <a class="nav-link" routerLink="cart" routerLinkActive="active-link">Compras</a>
          </li>
          <li class="nav-item nl4">
            <a class="nav-link" routerLink="cart" routerLinkActive="active-link">
              <i class="bi bi-cart2" id="carro"></i>
            </a>
          </li>
          <li class="nav-item nl4 i">
            <a class="nav-link" routerLinkActive="active-link">
              <i class="bi bi-person-circle user"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- MODAL -->

  <div id="janelaModal" class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <span><h3 class="modal-title">Selecione onde quer receber suas compras</h3></span>
           <span><P>Você poderá ver custos e prazos de entrega precisos em tudo que procurar.</P></span>
            <button type="button" class="btn btn-info btn-close" data-bs-dismiss="modal"></button>
        </div>
        <form class="form-control-modal">
            <div class="modal-control">
                <input type="tel" id="cep-modal" placeholder="Informar um CEP">
                <button onclick="pesquisarCep()" id="btn-cep" type="button" data-bs-dismiss="modal">Usar</button>
               
            </div>
             <a href="#">Não sei o meu CEP</a>
        </form>
    </div>
</div>

