
<!-- CAROUSEL -->


<div class="container" id="slider-container">
    <div data-bs-interval="2500" class=" carousel slide " id="slider"
     data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button 
        class="active" 
        data-bs-target="#slider"
        data-bs-slide-to="0"
        aria-current="true"
        aria-label="Slide 1"
        ></button>
        <button 
        class="active" 
        data-bs-target="#slider"
        data-bs-slide-to="1"
        aria-label="Slide 2"
        ></button>
        <button 
        class="active" 
        data-bs-target="#slider"
        data-bs-slide-to="2"
        aria-label="Slide 3"
        ></button>
        <button 
        class="active" 
        data-bs-target="#slider"
        data-bs-slide-to="3"
        aria-label="Slide 4"
        ></button>
    </div>
    <div class="carousel-inner mab">
        <div class="carousel-item active ">
            <img src="https://http2.mlstatic.com/D_NQ_655056-MLA52005996288_102022-OO.webp" 
            alt="ip13">
            <div class="carousel-caption">
            </div>
        </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="https://http2.mlstatic.com/D_NQ_923441-MLA52022731758_102022-OO.webp" alt="moto">
            <div class="carousel-caption">
            </div>
        </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="https://http2.mlstatic.com/D_NQ_680165-MLA51990858277_102022-OO.webp" alt="ip13">
            <div class="carousel-caption">
            </div>
        </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="https://http2.mlstatic.com/D_NQ_797328-MLA51949424068_102022-OO.webp" alt="xiaomi">
            <div class="carousel-caption">
            </div>
        </div>
    </div>
</div>
</div>
    <button 
    class="carousel-control-prev" 
    type="button" 
    data-bs-target="#slider"
    data-bs-slide="prev"
    >
    <i class="bi bi-chevron-compact-left"></i>
    <span class="visually-hidden">Previous</span>
</button>
    <button 
    class="carousel-control-next" 
    type="button" 
    data-bs-target="#slider"
    data-bs-slide="next"
    >
    <i class="bi bi-chevron-compact-right"></i>
    <span class="visually-hidden">Next</span>
</button>
</div>
</div>
</div>
<div class="container">
</div>


<!-- INFORMAÇÕES ADICIONAIS -->

<div class="container-add">



<div class="payment-data-section um">
    <div class="title t1">Pagamento rápido e seguro <br>
        com Mercado Pago.

    </div>
</div>
<div class="payment-data-section dois">
    <div class="title t2">
        <i class="bi bi-credit-card"></i>
         Até 10 parcelas sem juros
    </div>
</div>
<div class="payment-data-section tres">
    <img id="icont" src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/payments/mercado-creditsv2.svg" alt="">
    <div class="title t3">Parcelamento sem cartão.
        
    </div>
</div>
<div class="payment-data-section quatro">
    <img id="icont4" src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/payments/qr.svg" alt="">
    <div class="title t4">Via Pix
        <i class="bi bi-plus-circle-fill"></i>
    </div>
</div>
</div>

<!-- CARDS -->

<h1 class="textmid" id="ps2">Nossas promoções:</h1>
<div class="container-card none">
    <div class="row row-cols-1 row-cols-md-5 g-4 w-100">
        <div class="col mx-1">
          <div class="card">
            <img src="https://http2.mlstatic.com/D_Q_NP_976424-MLB51828975903_102022-AB.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">R$3.079</h5>
                <p class="card-text">Tv 42 polegadas SONY.<br>
                  <strong>Frete Grátis</strong>
                </p>
            </div>
          </div>
        </div>
        <div class="col mx-1">
          <div class="card hbg">
            <img src="https://http2.mlstatic.com/D_Q_NP_686024-MLB48282444314_112021-AB.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">R$309,88</h5>
              <p class="card-text">Lavadora de alta pressão.<br>
                <strong>Frete Grátis</strong>
            </div>
          </div>
        </div>
        <div class="col mx-1">
          <div class="card hbg">
            <img src="https://http2.mlstatic.com/D_Q_NP_863945-MLB51136477776_082022-AB.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">R$809,88</h5>
              <p class="card-text">Samsung Galaxy A03 Core.<br>
                <strong>Frete Grátis</strong>
            </div>
          </div>
        </div>
        <div class="col mx-1">
          <div class="card hbg">
            <img src="https://http2.mlstatic.com/D_Q_NP_825806-MLA51553378302_092022-AB.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">R$109,10</h5>
              <p class="card-text">Kit 10 Lâmpadas AVANT.<br>
                <strong>Frete Grátis</strong>
            </div>
          </div>
        </div>
    </div>
</div>
<br>

<!-- CARD 1 -->


<h1 class="textmid h11">Ofertas do dia:</h1>
    <div class="container-card ps3">
      <div class="row row-cols-1 row-cols-md-5 g-4 w-100">
          <div class="col mx-1">
            <div class="card">
              <img src="https://http2.mlstatic.com/D_Q_NP_971326-MLB50140408123_052022-AB.webp" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">R$32,88</h5>
              <p class="card-text">Case iPhone 13 Preta.<br>
                <strong>Frete R$15,99</strong>
              </div>
            </div>
          </div>
          <div class="col mx-1">
            <div class="card">
              <img src="https://http2.mlstatic.com/D_Q_NP_978221-MLB48076572856_102021-AB.webp" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">R$219,28</h5>
              <p class="card-text">Smartwatch IWO 13 Max.<br>
                <strong>Frete Grátis</strong>
              </div>
            </div>
          </div>
          <div class="col mx-1">
            <div class="card">
              <img src="https://http2.mlstatic.com/D_Q_NP_701544-MLB49797454265_042022-AB.webp" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">R$29,88</h5>
              <p class="card-text">Fones iPhone Original.<br>
                <strong>Frete R$12,98</strong>
              </div>
            </div>
          </div>
          <div class="col mx-1">
            <div class="card">
              <img src="https://http2.mlstatic.com/D_Q_NP_711792-MLA51000130066_082022-AB.webp" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">R$1.209,88</h5>
              <p class="card-text">Moto G31 128GB.<br>
                <strong>Frete Grátis</strong>
              </div>
            </div>
          </div>
      </div>
    </div>

    <br>

    <h1 class="textmid h11">Você também pode gostar:</h1>
    <div class="container-card ps4">
      <div class="row row-cols-1 row-cols-md-5 g-4 w-100">
          <div class="col mx-1">
            <div class="card">
              <img src="https://http2.mlstatic.com/D_Q_NP_848607-MLB51497000422_092022-AB.webp" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">R$64,99</h5>
              <p class="card-text">Fones de ouvido Bluetooth.<br>
                <strong>Frete R$10,50</strong>
              </div>
            </div>
          </div>
          <div class="col mx-1">
            <div class="card">
              <img src="https://http2.mlstatic.com/D_Q_NP_884274-MLB49933837442_052022-AB.webp" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">R$21,88</h5>
              <p class="card-text">Capinha anti shock iP13.<br>
                <strong>Frete R$12,98</strong>
              </div>
            </div>
          </div>
          <div class="col mx-1">
            <div class="card">
              <img src="https://http2.mlstatic.com/D_Q_NP_952412-MLB51020662338_082022-AB.webp" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">R$79,88</h5>
              <p class="card-text">Fone de ouvido TWS Bluetooth..<br>
                <strong>Frete R$10,99</strong>
              </div>
            </div>
          </div>
          <div class="col mx-1">
            <div class="card">
              <img src="https://http2.mlstatic.com/D_Q_NP_670637-MLB50171346131_062022-AB.webp" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">R$2.109,88</h5>
              <p class="card-text">Samsung Smart TV 43Pol.<br>
                <strong>Frete Grátis</strong>
              </div>
            </div>
          </div>
      </div>
    </div>